*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
  background: rgb(41, 48, 54);
}

@media (max-width: 600px) {
  body {
    overflow-y: auto;
  }
}
